<ion-header>
  <ion-toolbar>
    <ion-title>
      PI EN HILO PRINCIPAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      π ≅ {{ pi }}
    </ion-item>
    <ion-item>
      Ellapsed Time = {{ ellapsedTime }}
    </ion-item>
    <ion-item>
    </ion-item>
    <ion-item>
      Pulsaciones = {{ contador }}
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="start()">
      PI
    </ion-fab-button>
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>